{% load static tailwind_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    {% tailwind_css %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="https://kit.fontawesome.com/3574c5c929.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="icon" href="{% static 'logo/logo_ticket.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'logo/logo_ticket.png' %}" type="image/x-icon">
    
    {% block head %} {% endblock %}

</head>
<body>
    {% block content %}
    {% endblock %}
</body>
    {% block javascript %}
    {% endblock %}
</html>