{% extends 'base.html' %}
{% load static %}

{% block title %}EventKita | Detail Acara{% endblock %}

{% block content %}

<!-- Navigation Bar -->
<section>
    <nav class="bg-primaryBlue border-gray-200 dark:bg-gray-900 dark:border-gray-700">
        <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
              <img src="{% static 'logo/Logo.png' %}" class="h-8" alt="EventKita Logo" />
          </a>
          <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="{% static 'default_images/profile.png' %}" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
              </svg>
          </button>
          <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-transparent md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li  class="md:pt-[10]">
                <a href="{% url 'home' %}" class="block py-2 px-3 text-white rounded-sm bg-primaryBlue md:bg-transparent md:text-white md:p-0 md:dark:text-white" aria-current="page">Beranda</a>
              </li>
              <li  class="md:pt-[10]">
                <a href="{% url 'calendar' %}" class="block py-2 px-3 text-gray-500 rounded-sm hover:text-white hover:bg-primaryBlue md:hover:bg-transparent md:hover:text-white md:p-0 dark:text-white md:dark:hover:text-white dark:hover:bg-primaryBlue dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Kalender</a>
              </li>
              <li class="md:pt-[10]">
                <a href="{% url 'about_us' %}" class="block py-2 px-3 text-gray-500 rounded-sm hover:text-white hover:bg-primaryBlue md:hover:bg-transparent md:hover:text-white md:p-0 dark:text-white md:dark:hover:text-white dark:hover:bg-primaryBlue dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Tentang Kita</a>
              </li>
              
              {% if user.id == None %}
                {% else %}
                <li class="md:pt-[10]">
                    <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 text-gray-500 rounded-sm hover:text-white hover:bg-primaryBlue md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Selengkapnya <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg></button>
                    <!-- Dropdown menu -->
                    <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                        <li>
                            <a href="{% url 'notifikasi' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Notifikasi</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Tersimpan</a>
                        </li>
                        <!-- <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                        </li> -->
                        </ul>
                        <!-- <div class="py-1">
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                        </div> -->
                    </div>
                </li>
                {% endif %}
                
              <li>
                {% if user.id == None %}
                    <div class="card" style="cursor: pointer;" data-href="{% url 'login' %}">
                        <button type="button" class="text-white px-10 bg-transparent border-4 border-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
                    </div>
                    
                    {% else %}
                    <div class="card" style="cursor: pointer;" data-href="{% url 'profile' %}">
                        <button class="flex items-center justify-between p-2 duration-200 focus:outline-none">
                            <div class="flex flex-col">
                                <span class="text-xs font-semibold text-gray-100">{{ user.username }}</span>
                                <span class="text-xs text-gray-400">Set up profile...</span>
                            </div>
                            <div class="w-7 h-7">
                                <img src="{% static 'default_images/profile.png' %}" alt="User Profile" class="w-full h-full rounded-full object-cover">
                            </div>
                        </button>
                    </div>
                    {% endif %}
              </li>
        
            </ul>
          </div>
        </div>
        </nav>
</section>

<section class="mt-5 md:mt-10 mx-auto max-w-screen-xl p-5">
    <!-- breadcrumbs -->
    <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            <li class="inline-flex items-center">
                <a href="javascript:history.back()" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                    </svg>
                    Beranda
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <span class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">{{ event.judul }}</span>
                </div>
            </li>
        </ol>
    </nav>

    <!-- Event Image -->
    <img class="mx-auto max-w-screen-xl mt-8 w-full h-96 object-cover rounded-xl" src="{{ event.foto_event.url }}" alt="{{ event.judul }}">

    <section class="mt-2 md:mt-5 lg:mt-5 mx-auto max-w-screen-xl p-5">
        <div class="grid grid-cols-4 gap-2">
            <div class="col-span-3">
                <h1 class="mb-4 text-1xl font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-3xl dark:text-white">{{ event.judul }}</h1>
                <div class="flex items-center rounded-lg">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="ms-5 text-gray-700">{{ event.lokasi }}</p>
                </div>
                <div class="mt-2 flex items-center rounded-lg">
                    <i class="fa-regular fa-calendar"></i>
                    <p class="ms-5 text-gray-700">{{ event.tanggal_kegiatan|date:"d M Y" }}</p>
                </div>
            </div>

            <div class="col-span-1 flex flex-col items-end">
                <div class="border-4 border-secondaryOrange p-2 rounded-lg bg-white shadow-md">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <div class="text-center px-3">
                            <span class="text-3xl font-bold text-secondaryOrange">3</span>
                            <p class="text-sm text-secondaryOrange">Hari</p>
                        </div>
                        <div class="text-center px-3">
                            <span class="text-3xl font-bold text-secondaryOrange">18</span>
                            <p class="text-sm text-secondaryOrange">Jam</p>
                        </div>
                        <div class="text-center px-3">
                            <span class="text-3xl font-bold text-secondaryOrange">34</span>
                            <p class="text-sm text-secondaryOrange">Menit</p>
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                    <i id="bookmarkIcon" class="fa-regular fa-bookmark icon cursor-pointer text-secondaryOrange hover:text-secondaryOrange text-3xl" onclick="toggleBookmark()"></i>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <hr class="border-t-2 border-gray-400 rounded-full">
        </div>
    </section>

    <!-- Event Details -->
    <section class="mt-1 md:mt-2 lg:mt-2 mx-auto max-w-screen-xl p-5">
        <h1 class="mb-4 text-1xl font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-3xl dark:text-white">Detail Event:</h1>
        <div class="p-4">
            <p>{{ event.deskripsi }}</p>
        </div>

        <div class="mt-10">
            <hr class="border-t-2 border-gray-400 rounded-full">
        </div>
    </section>

    <!-- Ticket Section -->
    <section class="mt-1 md:mt-2 lg:mt-2 mx-auto max-w-screen-xl p-5 mb-20">
        <h1 class="mb-4 text-1xl font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-3xl dark:text-white">TIKET</h1>

        {% for ticket in tickets %}
        <div class="w-full mx-auto bg-white rounded-lg shadow-lg overflow-hidden mb-3">
            <div class="px-4 pt-2">
                <h2 class="text-xl font-bold text-gray-800">{{ ticket.judul }}</h2>
                <p class="text-gray-600">Harga tiket sudah termasuk pajak pemerintah dan biaya admin tiket 20%</p>
            </div>
            <div class="flex items-center justify-start px-4 py-3">
                <div class="flex items-center">
                    <div class="w-2 h-2 bg-orange-500 rounded-full flex items-center justify-center text-white"></div>
                    <span class="ml-2 text-gray-700 text-xs">Tidak bisa refund</span>
                </div>
                <div class="ms-3 flex items-center">
                    <div class="w-2 h-2 bg-green-500 rounded-full flex items-center justify-center text-white"></div>
                    <span class="ml-2 text-gray-700 text-xs">Berdiri</span>
                </div>
            </div>
            <div class="border-t-4 border-dotted border-gray-300 mx-4"></div>
            <div class="flex justify-between items-center px-4 pt-2">
                <span class="text-lg font-bold text-secondaryOrange">IDR {{ ticket.harga }}</span>
                <div class="payment" style="cursor: pointer;" data-href="{% url 'payment_1' ticket.id %}">
                    <button class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Pesan</button>
                </div>
            </div>
            <div class="ps-4 pb-4">
                <span class="text-xs text-secondaryOrange">Tersisa {{ ticket.sisa_tiket }} tiket</span>
            </div>
        </div>
        {% endfor %}
        
    </section>

</section>

{% include 'footer.html' %}
{% endblock %}



{% block javascript %}
<script>
    function toggleBookmark() {
        const icon = document.getElementById('bookmarkIcon');
        if (icon.classList.contains('fa-regular')) {
            icon.classList.remove('fa-regular');
            icon.classList.add('fa-solid');
        } else {
            icon.classList.remove('fa-solid');
            icon.classList.add('fa-regular');
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        const cards = document.querySelectorAll('.payment');
        cards.forEach(function(card) { 
            card.addEventListener('click', function() {
                const href = card.getAttribute('data-href');
                window.location.href = href; 
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        const cards = document.querySelectorAll('.card');
        cards.forEach(function(card) { 
            card.addEventListener('click', function() {
                const href = card.getAttribute('data-href');
                window.location.href = href; 
            });
        });
    });
</script>
{% endblock %}