{% extends 'base.html' %}
{% load static %}

{% block title %}EventKita | Home{% endblock %}
{% block head %} 
<style>
  #toast-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns to the right */
  }

  .toast-message {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 300px;
      background: white;
      padding: 10px 15px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .single-line {
    overflow: hidden;  
    white-space: nowrap;  
    text-overflow: ellipsis;
    }

    .two-line {
    display: -webkit-box;  
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;   
    overflow: hidden;    
    text-overflow: ellipsis;  
    }

    .loader {
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border-top: 4px solid #3498db;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite;
        margin: 0 auto;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

</style>
{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="bg-center bg-cover h-[40rem] bg-no-repeat bg-[url('/static/default_images/banner/hero_banner1.png')] bg-gray-700 bg-blend-multiply">
    
    <!-- Navigation Bar -->
    <nav class="bg-transparent border-gray-200 dark:bg-gray-900 dark:border-gray-700">
    <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="{% url 'home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="{% static 'logo/Logo.png' %}" class="h-8" alt="EventKita Logo" />
      </a>
      <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="{% static 'default_images/profile.png' %}" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-transparent md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li  class="md:pt-[10]">
            <a href="{% url 'home' %}" class="block py-2 px-3 text-white rounded-sm bg-primaryBlue md:bg-transparent md:text-white md:p-0 md:dark:text-white" aria-current="page">Beranda</a>
          </li>
          <li  class="md:pt-[10]">
            <a href="{% url 'calendar' %}" class="block py-2 px-3 text-gray-500 rounded-sm hover:text-white hover:bg-primaryBlue md:hover:bg-transparent md:hover:text-white md:p-0 dark:text-white md:dark:hover:text-white dark:hover:bg-primaryBlue dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Kalender</a>
          </li>
          <li class="md:pt-[10]">
            <a href="{% url 'about_us' %}" class="block py-2 px-3 text-gray-500 rounded-sm hover:text-white hover:bg-primaryBlue md:hover:bg-transparent md:hover:text-white md:p-0 dark:text-white md:dark:hover:text-white dark:hover:bg-primaryBlue dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Tentang Kita</a>
          </li>
          
          {% if user.id == None %}
          {% else %}
          <li class="md:pt-[10]">
            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 text-gray-500 rounded-sm hover:text-white hover:bg-primaryBlue md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Selengkapnya <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg></button>
            <!-- Dropdown menu -->
            <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="{% url 'notifikasi' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Notifikasi</a>
                  </li>
                  <li>
                    <a href="{% url 'saved' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Tersimpan</a>
                  </li>
                  <li>
                    <a href="{% url 'riwayattransaksi' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Riwayat Transaksi</a>
                  </li>
                </ul>
                <!-- <div class="py-1">
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                </div> -->
            </div>
          </li>
          {% endif %}
          
          <li>
            {% if user.id == None %}
            <div class="card" style="cursor: pointer;" data-href="{% url 'login' %}">
                <button type="button" class="text-white px-10 bg-transparent border-4 border-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
            </div>
            
            {% else %}
            <div class="card" style="cursor: pointer;" data-href="{% url 'profile' %}">
                <button class="flex items-center justify-between p-2 duration-200 focus:outline-none">
                    <div class="flex flex-col text-end me-5">
                        <span class="text-xs font-semibold text-gray-100">{{ user.username }}</span>
                        <span class="text-xs text-gray-400">Set up profile...</span>
                    </div>
                    {% if user.profile_picture %}
                    <div class="w-7 h-7">
                        <img src="{{ user.profile_picture.url }}" alt="User Profile" class="w-full h-full rounded-full object-cover">
                    </div>
                    {% else %}
                    <div class="w-7 h-7">
                        <img src="{% static 'default_images/profile.png' %}" alt="User Profile" class="w-full h-full rounded-full object-cover">
                    </div>
                    {% endif %}

                </button>
            </div>
            {% endif %}

          </li>
    
        </ul>
      </div>
    </div>
    </nav>
    

    <!-- Isi Dari Banner -->
  
    <div class="md:grid md:grid-cols-2 md:gap-2 px-4 mx-auto max-w-screen-xl md:text-start lg:py-32 mt-10 md:mt-20 lg:-mt-10 text-center">
        <div class="h-auto">

        </div>
        <div class="h-auto max-w-full rounded-lg justify-items-center md:justify-items-start">
            <div class="w-64 grid grid-cols-3 gap-2 text-center">
                <p class="w-20 p-2 mb-3 text-white dark:text-gray-400 rounded-lg bg-secondaryOrange bg-opacity-65">4 Hari</p>
                <p class="w-20 p-2 mb-3 text-white dark:text-gray-400 rounded-lg bg-secondaryOrange bg-opacity-65">20 Jam</p>
                <p class="w-20 p-2 mb-3 text-white dark:text-gray-400 rounded-lg bg-secondaryOrange bg-opacity-65">3 Menit</p>
            </div>
            <h1 class="mb-4 mt-4 md:mt-2 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">SBS MTV The Kpop Show Ticket Package</h1>
            <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl">Look no further! Our SBS The Show tickets are the simplest way for you to experience a live Kpop recording.</p>
            <div class="space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
                <a href="#" class="inline-flex justify-center items-center py-3 px-10 text-base font-medium text-center text-white rounded-full bg-primaryBlue hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Get Tiket
                </a>
                <a href="#" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-8 sm:ms-4 text-base font-medium text-center text-white rounded-full border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                    Learn more
                </a>  
            </div>
        </div>
    </div>

    <!-- Search bar -->
    <!-- <div class="card max-w-7xl mx-auto bg-primaryBlue p-8 rounded-lg shadow-lg mt-[6rem] md:mt-[5rem] lg:mt-[-3rem]" style="cursor: pointer;" data-href="{% url 'pencarian' %}">
        <div class="flex flex-wrap items-center gap-3">
            <div class="flex-grow b-none">
                <label class="block text-white text-md mb-1 " for="categories">Kategori Acara</label>
                <input readonly type="text" id="categories" placeholder="Search Categories" class="w-full p-2 border-none bg-transparent text-white text-lg">
                <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
            </div>
    
            <div class="flex-grow">
                <label class="block text-white text-md mb-1" for="location">Lokasi</label>
                <input readonly type="text" id="location" placeholder="Location" class="w-full p-2 border-none bg-transparent text-white text-lg">
                <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
            </div>
    
            <div class="flex-grow">
                <label class="block text-white text-md mb-1" for="datepicker">Waktu</label>
                <input readonly type="text" id="datepicker" placeholder="Select Date" class="w-full p-2 border-none bg-transparent text-white text-lg">
                <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
            </div>
    
        </div>
    </div> -->

    <div class="max-w-7xl mx-auto bg-primaryBlue pt-8 px-8 pb-3 rounded-lg shadow-lg mt-[6rem] md:mt-[5rem] lg:mt-[-3rem]">
        <form method="GET" action="{% url 'search_events' %}" class="flex flex-col md:flex-row gap-4">
            <div class="w-full md:w-1/3 ">
                <select name="category" class="p-2 border-none rounded w-full bg-transparent text-white">
                    <option value="" class="text-black hover:bg-primaryBlue">Pilih Kategori</option>
                    <option value="konser" class="text-black hover:bg-primaryBlue" {% if selected_category == 'konser' %} selected {% endif %}>Konser Musik</option>
                    <option value="konferensi" class="text-black hover:bg-primaryBlue" {% if selected_category == 'konferensi' %} selected {% endif %}>Konferensi</option>
                    <option value="bazaar" class="text-black hover:bg-primaryBlue" {% if selected_category == 'bazaar' %} selected {% endif %}>Bazaar</option>
                    <option value="workshop" class="text-black hover:bg-primaryBlue" {% if selected_category == 'workshop' %} selected {% endif %}>Workshop</option>
                </select>
                <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
            </div>
            <div class="w-full md:w-1/3">
                <input type="text" name="location" placeholder="Lokasi" class="p-2 border-none rounded w-full bg-transparent text-white" value="{{ selected_location }}">
                <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
            </div>
            <div class="w-full md:w-1/3">
                <input id="datepicker" type="text" placeholder="Select Date" class="p-2 border-none rounded w-full bg-transparent text-white" readonly value="{{ selected_date }}">
                <input type="hidden" name="date" id="hidden-datepicker" value="{{ selected_date }}">
                <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
            </div>
            
            <button type="submit" class="bg-white text-primaryBlue p-4 rounded ">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
    
</section>

 <!-- Toast Top right -->
 {% if messages %}
 <div id="toast-container">
     {% for message in messages %}
     <div class="toast-message text-white rounded-lg shadow-md flex items-center justify-between p-4 mb-2
         {% if message.tags == 'success' %} bg-green-500 {% elif message.tags == 'warning' %} bg-yellow-500 
         {% elif message.tags == 'error' %} bg-red-500 {% elif message.tags == 'info' %} bg-blue-500 {% else %} bg-gray-500 {% endif %}">
         <span class="text-sm font-normal">{{ message }}</span>
         <button type="button" class="ms-8 text-white hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1 hover:bg-gray-100 dark:text-gray-300 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" aria-label="Close" onclick="this.closest('.toast-message').remove()">
             <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
             </svg>
         </button>
     </div>
     {% endfor %}
 </div>
 {% endif %}

<section class="px-4 mx-auto max-w-screen-xl mt-[15rem] md:mt-[2-rem] lg:mt-[8rem]">

    {% if events %}
    <h1 class="text-xl mb-9 font-bold leading-none tracking-tight text-primaryBlue md:text-2xl lg:text-4xl dark:text-white">Hasil Pencarian</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-[1rem]">
        {% for event in events %}
        <div class="card" style="cursor: pointer;" data-href="{% url 'detail_page' event.id %}">
            <div class="col-span-1 bg-white rounded-lg shadow-md overflow-hidden">
                <img src="{{ event.foto_event.url }}" alt="Event Image" class="w-full h-48 object-cover">
                <div class="p-4">
                    <div class="grid grid-cols-5 gap-1">
                        <div class="col-span-1 text-center">
                            <p class="text-xs font-medium text-primaryBlue">{{ event.tanggal_kegiatan|date:"M" }}</p>
                            <p class="text-2xl font-bold">{{ event.tanggal_kegiatan|date:"d" }}</p>
                        </div>
                        <div class="col-span-4 pl-4">
                            <h3 class="text-base font-bold single-line">{{ event.judul }}</h3>
                            <p class="text-gray-600 text-sm two-line">{{ event.deskripsi }}</p>
                            <span class="inline-block mt-2 px-3 py-1 text-orange-600 border border-orange-600 rounded-full text-sm">{{ event.tanggal_kegiatan|date:"H:i" }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <div class="rounded-xl mt-[6rem] relative flex items-center justify-center min-h-[10rem] bg-cover bg-center bg-no-repeat bg-[url('/static/background/bg_contactus2.png')] overflow-hidden" >
        <div class="absolute inset-0 bg-black opacity-50"></div> 
        <h1 class="relative text-white text-4xl font-bold text-center p-4">
            Lihat Acara Lain Yang Ada di EventKita!
        </h1>
    </div>
    {% else %}
        {% if searchStatus == 'empty' %}
            <p class="text-gray-500 w-full text-center">Tidak ada hasil ditemukan.</p>
            <div class="rounded-xl mt-[6rem] relative flex items-center justify-center min-h-[10rem] bg-cover bg-center bg-no-repeat bg-[url('/static/background/bg_contactus2.png')] overflow-hidden" >
                <div class="absolute inset-0 bg-black opacity-50"></div> 
                <h1 class="relative text-white text-4xl font-bold text-center p-4">
                    Lihat Acara Lain Yang Ada di EventKita!
                </h1>
            </div>
        {% else %}
            
        {% endif %}
        
    {% endif %}

    <!-- Ini bagian yang default display -->
    {% for category, events in semua_event.items %}
    <div class="flex justify-between items-center mb-6 mt-[3rem]">
        <h2 class="text-3xl font-bold">{{ category|title }}</h2>
        <button class="flex items-center text-gray-600">
            <a href="{% url 'selengkapnya' category %}" class="pb-1">selengkapnya</a>
            <i class="h-4 w-4 ml-1 fa-solid fa-chevron-right"></i>
        </button>
    </div>

    <!-- Cards Container -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
        {% for event in events %}
        <div class="card" style="cursor: pointer;" data-href="{% url 'detail_page' event.id %}">
            <div class="col-span-1 bg-white rounded-lg shadow-md overflow-hidden">
                <img src="{{ event.foto_event.url }}" alt="Event Image" class="w-full h-48 object-cover">
                <div class="p-4">
                    <div class="grid grid-cols-5 gap-1">
                        <div class="col-span-1 text-center">
                            <p class="text-xs font-medium text-primaryBlue">{{ event.tanggal_kegiatan|date:"M" }}</p>
                            <p class="text-2xl font-bold">{{ event.tanggal_kegiatan|date:"d" }}</p>
                        </div>
                        <div class="col-span-4 pl-4">
                            <h3 class="text-base font-bold single-line">{{ event.judul }}</h3>
                            <p class="text-gray-600 text-sm two-line">{{ event.deskripsi }}</p>
                            <span class="inline-block mt-2 px-3 py-1 text-orange-600 border border-orange-600 rounded-full text-sm">{{ event.tanggal_kegiatan|date:"H:i" }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    {% endfor %}    

    
    
</section>


<!-- CONTACT US -->
<div id="contactPart" class="bg-center bg-cover h-[40rem] bg-no-repeat bg-[url('/static/background/bg_contactus2.png')] w-full mt-24">
    <section class="mx-auto max-w-screen-xl md:grid md:grid-cols-2 gap-4 p-24 ">
         <!-- Contact Form -->
         <div class="bg-primaryBlue dark:bg-gray-800 drop-shadow-lg rounded-lg p-5">
            <h2 class="text-4xl font-semibold text-white dark:text-white mb-2">Hubungi Kami</h2>

            <form id="contactForm" method="POST" action="{% url 'contact_us' %}" onsubmit="showLoadingIndicator()">
                {% csrf_token %}
                
                <!-- Name Input -->
                <label for="name" class="text-sm font-medium text-gray-100 dark:text-white mb-2 block mt-2">Nama:</label>
                <input id="name" name="name" type="text" required
                    class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Masukkan nama Anda">

                <!-- Email Input -->
                <label for="email" class="text-sm font-medium text-gray-100 dark:text-white mb-2 block mt-4">Email:</label>
                <input id="email" name="email" type="email" required
                    class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Masukkan email Anda">

                <!-- Message Input -->
                <label for="message" class="text-sm font-medium text-gray-100 dark:text-white mb-2 block mt-4">Pesan:</label>
                <textarea id="message" name="message" rows="4" required
                    class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Tulis pesan Anda di sini..."></textarea>

                <!-- Terms and Conditions Checkbox -->
                <div class="flex items-center mt-4">
                    <input id="terms" name="terms" type="checkbox" required
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600">
                    <label for="terms" class="ml-2 text-sm font-medium text-gray-100 dark:text-gray-300">
                        Saya bersedia menerima informasi yang dikirimkan.
                    </label>
                </div>

                <!-- Submit Button -->
                <div class="flex items-center space-x-4 rtl:space-x-reverse mt-6">
                    <button type="submit"
                        class="text-white px-10 bg-primaryBlue border-4 border-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Kirim
                    </button>
                </div>
            </form>

            
        </div>

        <!-- Image Section -->
        <div class="ms-10 bg-center content-center hidden md:block">
            <img class="h-auto max-w-full" src="{% static 'logo/logo_large.png' %}" alt="image description">
        </div>
    </section>

    <!-- Loading Indicator Modal -->
    <div id="loadingModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-5 rounded-lg shadow-lg text-center">
            <p class="text-lg font-semibold">Loading...</p>
            <div class="mt-2">
                <div class="loader"></div>
            </div>
        </div>
    </div>

</div>


{% include 'footer.html' %}

{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        flatpickr("#datepicker", {
            dateFormat: "Y-m-d H:i", // Internal format with time
            allowInput: false,
            onChange: function(selectedDates, dateStr, instance) {
                // Set the hidden input value to the full date and time
                document.getElementById('hidden-datepicker').value = dateStr;
                // Display only the date in the visible input
                document.getElementById('datepicker').value = dateStr.split(' ')[0]; // Get only the date part
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        const cards = document.querySelectorAll('.card');
        cards.forEach(function(card) { 
            card.addEventListener('click', function() {
                const href = card.getAttribute('data-href');
                window.location.href = href; 
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        const toasts = document.querySelectorAll('#toast-container .flex');
        toasts.forEach(toast => {
            setTimeout(() => {
                toast.classList.add('opacity-0');
                setTimeout(() => toast.remove(), 1000); // Removes after transition
            }, 5000); // Show for 5 seconds
        });
    });

    function showLoadingIndicator() {
        // Show the loading modal
        document.getElementById('loadingModal').classList.remove('hidden');
        
        // Optionally, disable the submit button to prevent multiple submissions
        document.querySelector('button[type="submit"]').disabled = true;
    }

</script>
{% endblock %}