{% extends 'base.html' %}
{% load static %}

{% block title %}EventKita | Register{% endblock %}

{% block content %}
<div class="flex flex-col min-h-screen bg-[#242565]">
    
   <!-- Navigation Bar -->
   <nav class="bg-primaryBlue border-gray-200 dark:bg-gray-900 dark:border-gray-700">
    <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="{% url 'home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="{% static 'logo/Logo.png' %}" class="h-8" alt="EventKita Logo" />
      </a>
      <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
          <span class="sr-only">Buka menu utama</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="{% static 'default_images/profile.png' %}" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-transparent md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li  class="md:pt-[10]">
            <a href="{% url 'home' %}" class="block py-2 px-3 text-gray-500 rounded-sm hover:text-white hover:bg-primaryBlue md:hover:bg-transparent md:hover:text-white md:p-0 dark:text-white md:dark:hover:text-white dark:hover:bg-primaryBlue dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Beranda</a>
          </li>
          <li  class="md:pt-[10]">
            <a href="{% url 'calendar' %}" class="block py-2 px-3 text-gray-500 rounded-sm hover:text-white hover:bg-primaryBlue md:hover:bg-transparent md:hover:text-white md:p-0 dark:text-white md:dark:hover:text-white dark:hover:bg-primaryBlue dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Kalender</a>
          </li>
          <li class="md:pt-[10]">
            <a href="{% url 'about_us' %}" class="block py-2 px-3 text-gray-500 rounded-sm hover:text-white hover:bg-primaryBlue md:hover:bg-transparent md:hover:text-white md:p-0 dark:text-white md:dark:hover:text-white dark:hover:bg-primaryBlue dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Tentang Kita</a>
          </li>
          
          {% if user.id == None %}
            {% else %}
            <li class="md:pt-[10]">
                <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 text-gray-500 rounded-sm hover:text-white hover:bg-primaryBlue md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Selengkapnya <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg></button>
                <!-- Dropdown menu -->
                <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                    <li>
                        <a href="{% url 'notifikasi' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Notifikasi</a>
                    </li>
                    <li>
                        <a href="{% url 'saved' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Tersimpan</a>
                    </li>
                    <li>
                        <a href="{% url 'riwayattransaksi' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Riwayat Transaksi</a>
                      </li>
                    </ul>
                    <!-- <div class="py-1">
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                    </div> -->
                </div>
            </li>
            {% endif %}
            
          <li>
            {% if user.id == None %}
            <div class="card" style="cursor: pointer;" data-href="{% url 'login' %}">
                <button type="button" class="text-white px-10 bg-transparent border-4 border-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
            </div>
            
            {% else %}
            <div class="card" style="cursor: pointer;" data-href="{% url 'profile' %}">
                <button class="flex items-center justify-between p-2 duration-200 focus:outline-none">
                    <div class="flex flex-col text-end me-5">
                        <span class="text-xs font-semibold text-gray-100">{{ user.username }}</span>
                        <span class="text-xs text-gray-400">Set up profile...</span>
                    </div>
                    {% if user.profile_picture %}
                    <div class="w-7 h-7">
                        <img src="{{ user.profile_picture.url }}" alt="User Profile" class="w-full h-full rounded-full object-cover">
                    </div>
                    {% else %}
                    <div class="w-7 h-7">
                        <img src="{% static 'default_images/profile.png' %}" alt="User Profile" class="w-full h-full rounded-full object-cover">
                    </div>
                    {% endif %}

                </button>
            </div>
            {% endif %}
          </li>
    
        </ul>
      </div>
    </div>
    </nav>
    

    <main class="flex-1 flex flex-col lg:flex-row justify-center items-center px-10">
      <!-- Left Side Illustration (Only Visible on Large Screens) -->
      <div class="hidden lg:flex flex-col items-center space-y-5 lg:mr-20 lg:ml-24">
          <img src="{% static 'default_images/Photos - Login.png' %}" alt="Event Illustration" class="w-full lg:w-full">
      </div>
  
      <!-- Login Form -->
      <div class="bg-white p-6 sm:p-10 rounded-lg shadow-lg w-full max-w-xl sm:w-11/12 md:w-2/3 md:max-w-md lg:max-w-xl mx-auto">
          <h2 class="text-2xl sm:text-3xl font-bold text-[#0A075F] mb-2">Buat Akun</h2>
          <p class="text-sm sm:text-md text-[#242565] mb-4 opacity-55">
              Buat profil akun Anda untuk mulai memesan tiket ke acara yang ingin Anda hadiri!
          </p>
  
          <form method="POST" action="{% url 'register' %}" class="space-y-4">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Masukkan Email" 
                class="w-full p-3 border-2 border-[#242565] rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-[#242565] placeholder-opacity-65 text-[#242565] text-opacity-100" required>
        
                <div class="relative">
                  <input type="password" id="password" name="password" placeholder="Masukkan Password" 
                      class="w-full p-3 border-2 border-[#242565] rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-[#242565] placeholder-opacity-65 text-[#242565] text-opacity-100" required>
                  
                  <button type="button" id="togglePassword" class="absolute right-3 top-5 text-gray-500">
                      <i class="fa-solid fa-eye-slash" id="toggleIcon"></i>
                  </button>
              </div>
        
            <div class="flex flex-col sm:flex-row sm:space-x-5 space-y-3 sm:space-y-0 justify-between">
                <div class="flex items-center space-x-3 text-[#2F2F72] font-semibold justify-center sm:justify-start">
                    <p class="mr-1 text-gray-500">Sudah punya Akun?</p>
                    <a href="{% url 'login' %}" class="text-[#242565] underline hover:text-blue-700">Login...</a>
                </div>
                <!-- Register Button -->
                <button type="submit" 
                    class="flex items-center justify-center space-x-2 px-4 py-2 sm:px-6 sm:py-3 bg-[#2F2F72] text-white text-lg sm:text-xl rounded-md font-semibold hover:bg-[#1B1464] transition">
                    <span class="mr-4">Daftar</span>
                    <span>→</span>
                </button>
            </div>
        </form>
      </div>
  </main>
  
  
    
</div>

{% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script>
  document.getElementById('togglePassword').addEventListener('click', function () {
      const passwordInput = document.getElementById('password');
      const toggleIcon = document.getElementById('toggleIcon');

      // Toggle the type attribute
      const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
      passwordInput.setAttribute('type', type);

      // Toggle the icon
      toggleIcon.classList.toggle('fa-eye-slash'); // Toggle eye icon
      toggleIcon.classList.toggle('fa-eye'); // Toggle eye-slash icon
  });
</script>
{% endblock %}
